.dashboard {
  display: flex;
  flex-direction: column;
  gap: $space-6;

  &__metrics{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $space-4;
  }

  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $space-6;
  }

  &__chart-card {
    margin: 0;
  }
}